<h3>Schedule Menu</h3>

    <label>Add courses to a schedule:</label>
    <input type ="text" [(ngModel)]= "modSchdName" placeholder="Schedule to be filled">
    <br>
    <div id="userInput" *ngFor="let course of courses; let i = index"> 
        <label>Subject Code:</label>
        <input type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="course.subject" #name="ngModel" name="course{{i}}" placeholder ="Subject Code">
        <label>Course Code:</label>
        <input type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="course.courseCode" #name="ngModel" name="course{{i}}" placeholder ="Course Code">
    </div>
    
    <button (click)= "add()">Add more courses</button>
    <br>
    <button (click) = "checkScheduleName()">Save Courses to Schedule</button>
    <br> 

    <button (click) = "viewAll()">View All Schedules</button>
    <br>

    <button>Delete All Schedules</button>
    <br>

    <div class="row">
        <div class="column" *ngFor ='let schedule of schedules'>
            <ol>Schedule Name: {{schedule.Schd.name}}</ol>
            <ol>Number of Courses: {{schedule.Schd.num}}</ol>
        </div>
        <div class="column" *ngFor = "let saved of savedCourses">
            <label>Courses:</label>
            <ol>{{saved}}</ol>
        </div>
      </div>
