label{
    color: white;
}

button{
    margin: 2%;
  }

h3{
    color: white;
}

div{
    display: inline;
}

ol{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#userInput{
    width:100%;
    display: block;
}