<h3>Schedule Menu</h3>

    <label> Create a schedule:</label> 
    <input type="text" [(ngModel)]="name" placeholder ="Schedule Name"/>
    <button (click)= "saveSchedule()" >Save Schedule</button>
    <br>
    
    <label>Add courses to a schedule:</label>
    <input type ="text" [(ngModel)]= "modSchdName" placeholder="Schedule to be filled">
    <br>
    <div *ngFor="let course of courses; let i = index"> 
        <label>Subject Code:</label>
        <input type="text" [(ngModel)]="course.subject" #name="ngModel" name="course{{i}}" placeholder ="Subject Code">
        <label>Course Code:</label>
        <input type="text" [(ngModel)]="course.courseCode" #name="ngModel" name="course{{i}}" placeholder ="Course Code">
    </div>
    
    <button (click)= "add()">Add more courses</button>
    <br>
    <button (click) = "saveNewCourses()">Save Courses to Schedule</button>
    <br> 

    <label>View Schedule:</label>
    <input type = "text" [(ngModel)] = "viewSchd" placeholder = "Schedule Name"/>
    <button (click) = "viewSchedule()">View Schedule</button>
    <button (click) = "viewAll()">View All Schedules</button>
    <br>

    <label>Delete Schedule:</label>
    <input  type = "text" [(ngModel)] = "deleteSchd" placeholder="Schedule Name"/>
    <button (click) = "delSchd()">Delete Schedule</button>
    <button (click) = "delAll()">Delete All Schedules</button>
    <br>

    <div id="results">
    <tr *ngFor =  'let schd of schedules'>
        <ol>Schedule Name: {{schd.name}}</ol>
        <div *ngFor = "let saved of savedCourses; let i = index">
            <ol>Subject: {{saved.subject}} </ol>
            <ol>Course Code: {{saved.courseCode}}</ol>
        </div>  
    </tr>
</div>
