<h3>Schedule Menu</h3>

    <label> Create a schedule:</label> 
    <input type="text" [(ngModel)]="scheduleName" placeholder ="Schedule Name"/>
    <button (click)= "saveSchedule()" >Save Schedule</button>
    <br>
    
    <label>View Schedule:</label>
    <input type = "text" [(ngModel)] = "viewSchd" placeholder = "Schedule Name"/>
    <button (click) = "viewSchedule()">View Schedule</button>
    <button (click) = "viewAll()">View All Schedules</button>
    <br>

    <label>Delete Schedule:</label>
    <input  type = "text" [(ngModel)] = "deleteSchd" placeholder="Schedule Name"/>
    <button (click) = "delSchd()">Delete Schedule</button>
    <button (click) = "delAll()">Delete All Schedules</button>
    <br>

    <label>Add courses to a schedule:</label>
    <input type= "text" [(ngModel)]="modSchdName" placeholder ="Schedule Name"/>
    <br>
    <input type = "text"  placeholder ="Subject Code"/>
    <input type = "text"  placeholder ="Course Code"/>
    <button (click) = "add()">Add another course</button>
    <br>
    <button (click) = "saveNewCourses()">Save Courses to Schedule</button>
    <br> 
