
<app-open-access></app-open-access>

<div>
    <label>Add a Course Review</label>

    <input placeholder = "Subject" [(ngModel)]= "subject">
    <input placeholder = "Course Code" [(ngModel)]= "courseCode">
    <br>

    <textarea placeholder = "Review" rows = "5" columns= "50" [(ngModel)]= "review">
        </textarea>

    <button (click) = "postReview()">Submit Review</button>
</div>

<div >
    <h3>Schedule Menu</h3>

    <label>Add courses to a schedule:</label>
    <input type ="text" [(ngModel)]= "modSchdName" placeholder="Schedule to be filled">
    <br>
    <div id="userInput" *ngFor="let course of courses; let i = index"> 
        <label>Subject Code:</label>
        <input type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="course.subject" #name="ngModel" name="course{{i}}" placeholder ="Subject Code">
        <label>Course Code:</label>
        <input type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="course.courseCode" #name="ngModel" name="course{{i}}" placeholder ="Course Code">
    </div>
    
    <button (click)= "add()">Add more courses</button>
    <br>
    <button (click) = "checkScheduleName()">Save Courses to Schedule</button>
    <br> 
</div>

<div>
    <h3>Edit Schedule</h3>
</div>

<div>
    <h3>View My Schedules:</h3>
    <button (click)= "viewUser()" >View Schedules</button>

    <!--<div id="results" *ngFor =  'let schd of schedules'>
        
            <ol>{{schd.name}}</ol>
            <button (click) = "expand()">Expand</button>
            <button (click) = "collapse">Collapse</button>
            <button (click) = "delete(schd.name)">Delete</button>
    
        <br>
    </div>-->
</div>




