<div id = "about">
    <h2> About: </h2>
    <p> Western timetable allows you to search thorugh courses avaialbel here at Western. 
        If you register an account, you will be able to create course lists and add reviews to courses. 
        If you do not have an account, you can still view some public course lists but will not be able to create them.
        Register now!     
    </p>
</div>

<form id = "logIn">
    <label>Email:</label>
    <input placeholder = "Username">
    <br>
    <label>Password:</label>
    <input placeholder = "Password">
    <br>
    <button (click) = "signIn()" >Log in</button>
</form>

<form id = "signUp">
    <label>Email:</label>
    <input placeholder = "Username">
    <br>
    <label>Name: </label>
    <input placeholder = "name">
    <br>
    <label>Password:</label>
    <input placeholder = "Password">
    <br>
    <button (click) = "register()" >Register</button>
</form>
