form{
    display:inline-block;
    width:40%;
  }

div{
    border: #4f2683;
    width: 90%;
    border-radius: 5%;
    align-content: center;
    background-color:  white;
}

#about{
  background-color: bisque;
}