<div id = "about">
    <h2> About: </h2>
    <p> Western timetable allows you to search thorugh courses avaialbel here at Western. 
        If you register an account, you will be able to create course lists and add reviews to courses. 
        If you do not have an account, you can still view some public course lists but will not be able to create them.
        Register now!     
    </p>
</div>
<h2>Log in with Google Account</h2>
<button (click)="loginWithGoogle()">Google Login</button>
 
<form name = "myForm" required>
    <h2>Please Sign In</h2>
    <div class="form-group">
        <label>Email Address: </label>
        <input type="email" #emailSignIn name="email" ng-model="user.email" placeholder="Type email here..." required>
    </div>
    <div class="form-group">
        <label>Password: </label>
        <input type="password" #passwordSignIn name="password" ng-model="user.password" placeholder="Type password here..." required>
    </div>
    <button (click) = "checkContent()" (click) = "saniEmailPass(emailSignIn.value)" (click) = "saniEmailPass(passwordSignIn.value)" (click)="login(emailSignIn.value, passwordSignIn.value)">Submit</button>
</form>
 
<h2>Don't have an account?</h2>
<button (click) = "loadSignUp()">Sign Up Now</button>