<p>admin-panel works!</p>
 
<button (click) = "getTokenOfCurrentUser()">Email Currently Logged In</button>
 
<form name = "myForm">
    <h2>Add An Admin</h2>
    <div class="form-group">
        <label>Email: </label>
        <input type="email" #newAdmin name="email" ng-model="user.email" placeholder="Type email here..." required>
    </div>
    <button (click) = "saniEmailPassA(newAdmin.value)">Add</button>
</form>
 
<form name = "myForm2">
    <h2>Change Activation of User</h2>
    <div class="form-group">
        <label>Email: </label>
        <input type="email" #emailAcc name="email" ng-model="user.email" placeholder="Type email here..." required>
    </div>
    <button (click) = "saniEmailPassC(emailAcc.value)">Deactivate or Reactivate</button>
</form>
 
    <h2>Security and Privacy Policy</h2>
    <div class="form-group">
        <textarea type="text" name="text" #securityPolicy placeholder="Type new Security and Privacy Policy here..."></textarea>
    </div>
    <button (click) = "updateSecurity(securityPolicy.value)">Update Policy</button>
 
    <h2>DMCA Notice and Takedown Policy</h2>
    <div class="form-group">
        <textarea type="text" name="text" #DMCAPolicy placeholder="Type new DMCA Notica and Takedown Policy here..."></textarea>
    </div>
    <button (click) = "updateDMCA(DMCAPolicy.value)">Update Policy</button>
 
    <h2>Acceptable User Policy</h2>
    <div class="form-group">
        <textarea type="text" name="text" #AUPPolicy placeholder="Type new Acceptable Use Policy here..."></textarea>
    </div>
    <button (click) = "noEmptyFields()" (click) = "updateAUP(AUPPolicy.value)">Update Policy</button>
