<p>admin-panel works!</p>
<!-- I need a navigation bar here-->

<div>
    <label>Search for a user:</label>
    <input placeholder = "User email">
    
    <div id="results">
        <tr *ngFor =  'let user of user'>
            <ol>{{user.email}}</ol>
            <ol>{{user.name}}</ol>
            <ol>{{user.status}}</ol>
            <ol>{{user.privilege}}</ol>

            <!--on click, the status/privilege will be switched and the paged refreshed to reflect the change-->
            <button>Change Privileges</button>
            <button>Change Status</button>
        </tr>
        <br>
    </div>
</div>

<div>
    <label>Search for course reviews</label>
    <input placeholder = "Subject Code">
    <input placeholder = "Course Code">

    <div id="results">
        <tr *ngFor =  'let review of reviews'>
            <ol>{{review.email}}</ol>
            <ol>{{review.visibility}}</ol>

            <!--on click, the visibility will be switched and the paged refreshed to reflect the change-->
            <button>Change visibility</button>
        </tr>
        <br>
    </div>
</div> 