<h1>{{title}}</h1>
<h2>{{type}}</h2>
 
<ul>
  <li><a routerLink = '/homePage'>Home Page</a></li>
  <li><a routerLink = '/openAccess'>Search Courses</a></li>
  <li><a routerLink = '/secureAccess'>Create a Schedule</a></li>
  <li><a routerLink = '/adminComponent'>Administrators</a></li>
  <li><a routerLink = '/policies'>Policy</a></li>
</ul>
 
<router-outlet></router-outlet>
 
<div></div>
<button (click) = "logout()">Logout</button>
 
<footer class = "footer">  
  <span class = "footer-btn"><a routerLink = '/policies'>Privacy Policy</a></span>
  <span class = "footer-btn"><a routerLink = '/policies'>DMCA Notice & Takedown Policy</a></span>
  <span class = "footer-btn"><a routerLink = '/policies'>Acceptable Use Policy</a></span>
</footer>


