/* Application-wide Styles */
h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    margin-bottom: 0%;
  }
 
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
  

  /*My code starts here*/

  div{
    align-content: center;
  }
  app-search-bar{
    background-color: #4f2683;
    align-content: center;
    width: 100%;
    border: 3px solid white;
    display: inline-block;
  }

  app-schd-menu{
    background-color: #4f2683;
    align-content: center;
    display: inline-block;
    border-radius: 5%;
    border: 3px solid white;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

