<h1>{{title}}</h1>

<app-schd-menu></app-schd-menu>

<nav>
    <a routerLink = "/homePage">Home Page</a>
    <a routerLink = "/openAccess">Browse As Guest</a>
    <a routerLink = "/secureAccess">My Dashboard</a>
    <a routerLink = "/adminComponent">Administrators</a>
</nav>

<router-outlet></router-outlet>

<footer>
    <span (click)= "privacyPolicy()" ><h5>Privacy Policy</h5></span>

    <span (click)= "acceptableUse()" ><h5>Acceptable Use Policy</h5></span>

    <span (click)= "takedown()" ><h5>DMCA Notice & Takedown Policy</h5></span>
</footer>



<!--
<div>
    <app-search-bar></app-search-bar>
     <app-schd-menu></app-schd-menu>
 </div> 
-->

