
<app-search-bar></app-search-bar>

<h3>Public Schedules</h3>
<button (click)= "pubSchd()">View public Shcedules</button>

<div id="results" *ngFor =  'let schd of publicSchd'>
        
        <ol>{{schd.name}}</ol>
        <ol>{{schd.num}}</ol>
        <button (click) = "expand(schd)">Expand</button>
        <button (click) = "collapse()">Collapse</button>
        
        <div *ngFor = 'let detail of detailedShcd'>
                <ol>{{detail.date}}</ol>
                <ol>{{details.descr}}</ol>
        </div>

</div>