<h3>Search Courses</h3>

    <input type="text" [(ngModel)]="sub" placeholder = "Subject Code"/>
    <input type="text" [(ngModel)]="code" placeholder = "Course Code"/>
    <input type="text" [(ngModel)]="comp" placeholder = "Course Component"/>
    <button (click)= "search()">Search</button>
    <button (click)= "viewAll()" >View All Courses</button>

<div id="results">
    <tr *ngFor =  'let course of courses'>
        <ol>{{course.subject}}</ol>
        <ol>{{course.class}}</ol>
        <ol>{{course.component}}</ol>
        <ol>{{course.startTime}}</ol>
        <ol>{{course.endTime}}</ol>
        <ol>{{course.days}}</ol>
    </tr>
</div>

<router-outlet></router-outlet>