
<div id="Menu">
    <h3>Search Courses</h3>
    
    <input type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="sub" placeholder = "Subject Code"/>
    <input type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="code" placeholder = "Course Code"/>
    
    <button (click)= "search()">Search</button>

    <label>Keyword Search:</label>
    <input placeholder = "Keyword" [(ngModel)]="keyword">
    <button (click) = "keywordSearch()">Search</button>
</div>

<div id="results" *ngFor =  'let course of courses'>
        <ol class="info">{{course.subject}}</ol>
        <ol class="info">{{course.class}}</ol>
        <ol class="info">{{course.component}}</ol>
        <ol class="info">{{course.startTime}}</ol>
        <ol class="info">{{course.endTime}}</ol>
        <ol class="info">{{course.days}}</ol>
        <button (click) = "expand(course)">Expand</button>

        <div *ngFor = 'let details of detailedCourse'>
            <ol>{{details.name}}</ol>
            <ol>{{details.description}}</ol>
            <ol>{{details.class_nbr}}</ol>
            <ol>{{details.descr}}</ol>
            <ol>{{details.campus}}</ol>
            <ol>{{details.enrl_stat}}</ol>
            <ol>{{details.class_section}}</ol>
            <ol>{{details.facility_ID}}</ol>
        </div>

        <div class="rev" *ngFor = 'let review of reviews'>
            <label>User:</label>
            <ol>{{review.user}}</ol>
            <label>Date:</label>
            <ol>{{review.date}}</ol>
            <label>Review:</label>
            <ol>{{review.review}}</ol>
        </div>
    <br>
</div>


<router-outlet></router-outlet>