
label{
    color: white;
}

button{
    margin: 2%;
  }

h3{
    color: white;
}

input{
    display: block;
    margin: 2%;
}

#results {
    background-color: grey;
    border: 3px solid black;
}

.info{
  display: inline-block;
}

.rev{
  border: 3px solid #4f2683;
}

#Menu {
  background-color: #4f2683;
}

